
{:deps {io.replikativ/datahike {:mvn/version "0.3.2"}} 
 
 :paths ["src"]

 :aliases {:cljs {:override-deps {io.replikativ/datahike        {:git/url "https://github.com/replikativ/datahike/"
                                                                 :sha     "b6411c3aa0bc250f721138c49eb2a1ec76bd4a57"}}
                  :extra-deps {thheller/shadow-cljs {:mvn/version "2.10.21"}
                               binaryage/devtools   {:mvn/version "1.0.2"}}}}}
